
body{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: white;
	background-color: #E0F2F7;
	padding: 0;
	width: 101.5%;
	min-width: 700px;
	overflow: hidden;
	.nav-cntnr{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;	
		padding: 0;
		margin: 0;
		width: 100%;
		min-width: 1200px;
		padding-bottom: 55px;
		background-color: #000;
		color: #FFFCE6;
		opacity: 0.8;
		.btn-cntnr{
			position: relative;
			width: 101.5%;
			max-width: 1000px;
			padding: 0;
			margin: 0 auto;
			.nav-btn{
				position: absolute;
				top: 0;
				width: 25%;
				height: 50px;
				font-size: 16px;
				cursor: pointer;
				font-family: 'Cinzel', serif;
				font-weight: 400;
				color: #D1BE80;
				&#home{
					font-size: 38px;
					padding: 0;
					margin-left: -35px;
					margin-top: 0.8%;
					width: 50%;
					text-align: center;
					svg{
						position: absolute;
						top: -121px;
						left: -60px;
						width: 100px;
					}
				}
				&#about{
					left: 74%;
					margin-top: 3%;
				}
				&#portfolio{
					left: 86%;
					margin-top: 3%;
				}
				&#contact{
					left: 99%;
					margin-top: 3%;
				}
			}
		}
	}
	.splash-cntnr{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		min-width: 1200px;
		background-color: #B5BEC4;
		.splash{
			position: relative;
			width: 100%;
			padding-bottom: 70%;
			margin: 0 auto;
			display: none;
			opacity: 0;
			&.home{
				img{
					position: absolute;
					width: 100%;
					opacity: 1;
				}
			}
			&.about{				
				img{
					position: absolute;
					width: 100%;
					top: 0;
					left: 0;
					opacity: 1;
				}
			}
			&.portfolio{
                img{
					position: absolute;
					width: 100%;
					opacity: 1;
				}
			}
			&.contact{
                img{
					position: absolute;
					width: 105%;
					opacity: 1;
				}
			}
			&.fade-in {
				-webkit-animation: fade-in 0.7s;
                -moz-animation: fade-in 0.7s;
                -ms-animation: fade-in 0.7s;
                -o-animation: fade-in 0.7s;
                animation: fade-in 0.7s;

                -webkit-animation-iteration-count: 1;
                -moz-animation-iteration-count: 1;
                -ms-animation-iteration-count: 1;
                -o-animation-iteration-count: 1;
                animation-iteration-count: 1;

                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;
                -ms-animation-timing-function: linear;
                -o-animation-timing-function: linear;
                animation-timing-function: linear;

                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                -ms-animation-fill-mode: forwards;
                -o-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
			}
			&.fade-out{
				-webkit-animation: fade-out 0.7s;
                -moz-animation: fade-out 0.7s;
                animation: fade-out 0.7s;

                -webkit-animation-iteration-count: 1;
                -moz-animation-iteration-count: 1;
                animation-iteration-count: 1;

                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;
                animation-timing-function: linear;

                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
			}
		}

	}

	.content-cntnr{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		min-width: 1200px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
		.cntnr{
			display: none;
			color: #000;
			background-color: #FFFEF5;
			border: 1px solid #D2D3D9;
			position: relative;
			// margin-left: 33%;
			// margin-top: 10%;
			margin: 0 auto;
			margin-top: 10%;
			padding: 3%;
			padding-bottom: 0;
			padding-top: 2%;
			display: none;
			opacity: 0;
			.header{
				text-align: center;
				font-size: 35px;
				width: 100%;
				font-weight: 300;
				font-family: 'Lato', sans-serif;
			}
			.body{
				position: relative;
				margin: 0 auto;
				width: 100%;
				line-height: 2;
				padding-bottom: 5%;
				div{
					font-size: 16px;
					margin-top: 5%;
					font-weight: 300;
				}
				h2{
					font-weight: 300;
					text-align: center;
				}
			}
			&.home{
				width: 400px;
				.body{
					padding-bottom: 10%;
				}
			}
			&.about{
				width: 400px;
				height: 500px;
				.body{
					width: 100%;
					height: 400px;
					margin-left: -10%;
					padding-left: 10%;
					padding-right: 10%;
					margin-top: -5%;
					overflow: hidden;
					overflow-y: scroll;
				}
			}
			&.portfolio{
				width: 450px;
				height: 480px;
				h2{
					font-weight: 300;
					text-align: center;
				}
				.tab-cntnr{
					position: absolute;
					z-index: 5;
					top: 0;
					left: 0;
					width: 100%;
					height: 11%;
					font-family: 'Lato', sans-serif;
					text-align: center;
					background-color: #FFFEF5;
					.tab{
						position: absolute;
						top: 0%;
						height: 64%;
						width: 50%;
						padding-top: 3.5%;
						border-bottom: 1px solid #7D7D7D;
						cursor: pointer;
						&.commercial{
							left: 0;
							border-right: 1px solid #7D7D7D;	
						}
						&.residential{
							left: 50%;
							border-left: 1px solid #7D7D7D;
						}
						&.selected{
							background-color: black;
							color: white;
							opacity: 0.8;
						}
					}
				}
				.body{
					width: 100%;
					height: 450px;
					margin-left: -10%;
					padding-left: 10%;
					padding-right: 10%;
					overflow: hidden;
					overflow-y: scroll;
					.list{
						table{
							width: 100%;
							td{
								border: 1px solid rgba(0,0,0, 0.5);
								text-align: center;	
							}
						}
						&.commercial{
							table{
								width: 100%;
								td{
									border: 1px solid rgba(0,0,0, 0.5);
									text-align: center;
								}
							}
						}
						&.residential{
							display: none;
						}
					}
				}
			}
			&.contact{
				width: 400px;
				height: 500px;
				text-align: center;
				.body{
					width: 100%;
					height: 450px;
					margin-left: -10%;
					padding-left: 10%;
					padding-right: 10%;
					margin-top: -2%;
					overflow: hidden;
					overflow-y: scroll;
					a{
						text-decoration: none;
						color: black;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				padding-bottom: 2%;
			}
			&.fade-in {
				-webkit-animation: content-fade-in 0.5s;
                -moz-animation: content-fade-in 0.5s;
                -ms-animation: content-fade-in 0.5s;
                -o-animation: content-fade-in 0.5s;
                animation: content-fade-in 0.5s;

                -webkit-animation-delay: 0.3s;
                -moz-animation-delay: 0.3s; 
                -ms-animation-delay: 0.3s; 
                -o-animation-delay: 0.3s;  
    			animation-delay: 0.3s;

                -webkit-animation-iteration-count: 1;
                -moz-animation-iteration-count: 1;
                -ms-animation-iteration-count: 1;
                -o-animation-iteration-count: 1;
                animation-iteration-count: 1;

                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;
                -ms-animation-timing-function: linear;
                -o-animation-timing-function: linear;
                animation-timing-function: linear;

                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                -ms-animation-fill-mode: forwards;
                -o-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
			}
			&.fade-out{
				-webkit-animation: content-fade-out 0.5s;
                -moz-animation: content-fade-out 0.5s;
                -ms-animation: content-fade-out 0.5s;
                -o-animation: content-fade-out 0.5s;
                animation: content-fade-out 0.5s;

                -webkit-animation-delay: 0.3s;
                -moz-animation-delay: 0.3s; 
                -ms-animation-delay: 0.3s; 
                -o-animation-delay: 0.3s;  
    			animation-delay: 0.3s;

                -webkit-animation-iteration-count: 1;
                -moz-animation-iteration-count: 1;
                animation-iteration-count: 1;

                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;
                animation-timing-function: linear;

                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
			}
		}
	}
	.content-cntnr::-webkit-scrollbar { 
		width: 0 !important;
		display: none;
	}
	.content-cntnr { 
		-ms-overflow-style: none; 
	}	
}


@-webkit-keyframes fade-out{
   0% { opacity: 1;}
   100% {opacity: 0;
   		display: none;}
}

@-webkit-keyframes fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 1;}
}

@-moz-keyframes fade-out{
   0% { opacity: 1;}
   100% {opacity: 0;
   		display: none;}
}

@-moz-keyframes fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 1;}
}

@-o-keyframes fade-out{
   0% { opacity: 1;}
   100% {opacity: 0;
   		display: none;}
}

@-o-keyframes fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 1;}
}

@-ms-keyframes fade-out{
   0% { opacity: 1;}
   100% {opacity: 0;
   		display: none;}
}

@-ms-keyframes fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 1;}
}

@keyframes fade-out{
   0% { opacity: 1;}
   100% {opacity: 0;
   		display: none;}
}

@keyframes fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 1;}
}











// For content

@-webkit-keyframes content-fade-out{
   0% { opacity: 0.9;}
   100% {opacity: 0;
   		display: none;}
}

@-webkit-keyframes content-fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 0.9;}
}

@-moz-keyframes content-fade-out{
   0% { opacity: 0.9;}
   100% {opacity: 0;
   		display: none;}
}

@-moz-keyframes content-fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 0.9;}
}

@-o-keyframes content-fade-out{
   0% { opacity: 0.9;}
   100% {opacity: 0;
   		display: none;}
}

@-o-keyframes content-fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 0.9;}
}

@-ms-keyframes content-fade-out{
   0% { opacity: 0.9;}
   100% {opacity: 0;
   		display: none;}
}

@-ms-keyframes content-fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 0.9;}
}

@keyframes content-fade-out{
   0% { opacity: 0.9;}
   100% {opacity: 0;
   		display: none;}
}

@keyframes content-fade-in{
   0% { opacity: 0;
   		display: block;}
   100% {opacity: 1;}
}



// @media screen and (min-width: 1500px) {
//     body {
//         .nav-cntnr{
//         	padding-bottom: 4%;
//         	.btn-cntnr{
// 	        	.nav-btn{
// 	        		#home,{
// 	        			font-size: 3.2vw
// 	        		}
// 	        		#about,
// 	        		#portfolio,
// 	        		#contact{
// 	        			font-size: 1.4vw;
// 	        		}
// 	        	}
// 	        }
//         }
//     }
// }